@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We will not Share you info with anyone outside of this site. Only people with access will be able to see your information.
    We try to keep everything under control but if you have any problems feel free to call Mr. T he can help you out.
</p>
